.footerpage {
  background-color: #2f303a;
  border: 1px solid $accent-color;
  width: 100%;
}
.block-adress .link-logo {
  color: $title-white-color;
  @media screen and(min-width:480px) {
    text-align: center;
    margin: 0;
  }
}

.footerdiv {
  @media screen and(min-width:480px) {
    text-align: center;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.join-div {
  @media screen and(min-width:480px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: auto;
    // margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    margin-right: 94px;
  }
}

.join-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sochial-icons {
  display: inline-flex;
  background-position: center;
  width: 20px;
  height: 20px;
}
.sochial-icons:hover,
.sochial-icons:focus {
  fill: $title-white-color;
}
.join-list-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.join-text {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 12px;
}
.block-adress {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:480px) {
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: center;
    display: block;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 69px;
  }
}

.adress {
  margin-top: 20px;
}

.adress-list-item > .contacts-link {
  padding: 0px;
}

.adress-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $title-white-color;
  font-style: normal;
}

/* стилизация двух тегов b(присоединяйся и подписаться на пассылку) */
.action {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-white-color;
}
.subscribeletters {
  display: block;
  align-items: center;
  margin-bottom: 20px;
}
.subscribe-div {
  display: inline;
  @media screen and (max-width: 480px) {
    // margin-left: auto;
    // margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscribe-input {
  display: inline-block;
}

.subscribe-input {
  padding-left: 16px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  // width: 398px;
  width: 100%;
  height: 50px;
  color: $title-white-color;
  background-color: #2f303a;

  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
}

.subscribe-buton {
  padding: 8px 29px 8px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border-color: transparent;
  color: $title-white-color;
  background-color: $button-hover-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}

.subscribe-image::after {
  display: inline-flex;
  background-image: url(../img/svg/icon-send.svg);
  content: "";
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}
