/* logotip */
.link-logo,
span {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-blak-color;
}

span {
  color: $accent-color;
}
