.examples-image-div {
  position: relative;
  overflow: hidden;
}
.overlay-div {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: $title-white-color;
  transition: all 0.5s linear;
}
.overlay-text {
  padding: 63px 24px;
  align-items: center;
  font-size: 18px;
  line-height: 1.55;
}

.examples-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-dark-color;
}
.examples-image {
  display: inline-block;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

/*  список  */
.examples-list {
  @media screen and (max-width: 767px) {
    display: block;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
}
/* элемент списка */
.examples-item {
  text-align: start;
  border: 1px solid #eeeeee;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.examples-item :hover .overlay-div {
  /* opacity: 1; */
  transform: translateY(0);
}

/* стилизация абзацов */
.examples-div {
  padding: 20px 24px;
}
.directions-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $title-grey-color;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
}
